.CartIcon {
  width: 2.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.CartIcon .ShoppingIcon {
  width: 100%;
  height: 2.5rem;
}

.CartIcon .ItemsNum {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  width: 0.95rem;
  height: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e8ee;
  border-radius: 50%;
  right: 0;
  top: 0;
}
