.Header {
  display: flex;
  justify-content: space-between;
  background-color: #2b3a67;
  padding: 0.5rem 2rem;
}

.Header .option {
  color: #e7e8ee;
  text-decoration: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.Header .option {
  padding: 0 1rem;
}
.Header .option:hover {
  color: #f4f4a3;
}
.Header .option.active {
  color: yellow;
}
.Header .logo.active {
  margin-left: 9rem;
}

.Header .logo img {
  width: 4.5rem;
}

.last-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
