.FormInput {
  margin: 2rem auto;
  display: flex;
  background-color: whitesmoke;
  box-shadow: -4px 4px 3px 0px rgba(43, 58, 103, 0.73);
}
.FormInput label {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  background-color: #d2d2d2;
}

.FormInput input {
  border: none;
  background-color: inherit;
  outline: none;
  width: 85%;
  padding: 0.7rem;
  font-size: 18px;
}
